<div class="dash-nav">
  <p class="dash-username"><%= name %></p>
  <a href="/" class="dash-logo">Lunary</a>
  <a class="dash-logout" href="/users/logout">Logout</a>
</div>

<main class="dashboard-page">
  <p class="sample-text">Here's some simple text!</p>
</main>
