<div class="wrapper">
  <div class="banner">
    <h1 class="lunary-logo">
      <span class="letter">L</span><span class="letter">u</span
      ><span class="letter">n</span><span class="letter">a</span
      ><span class="letter">r</span><span class="letter">y</span>
    </h1>
    <div class="log-buttons-wrapper">
      <a class="log-button" id="left-button" href="/users/login">Login</a>
      <a class="log-button" id="right-button" href="/users/register"
        >Register</a
      >
    </div>
  </div>
  <a class="profile-btn" href="/profile">View your profile</a>
</div>
