<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Lunary</title>

    <!-- Font awesome icons -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="/css/style.css" />

    <!-- Scroll reveal -->
    <script src="https://unpkg.com/scrollreveal"></script>
    <script>
      ScrollReveal({ reset: false });
    </script>
  </head>
  <body>
    <%- body %>

    <!-- Main script -->
    <script defer src="/js/main.js"></script>

    <!-- Anime.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

    <!-- Animation script -->
    <script src="/js/animate.js"></script>

    <!-- Scroll reveal script -->
    <script src="/js/sr.js"></script>
  </body>
</html>
