<img src="/img/wave.png" alt="Wave wallpaper" class="wave" />
<div class="container">
  <div class="img">
    <img src="/img/undraw_researching_22gp.svg" alt="Svg over wallpaper" />
  </div>
  <div class="login-container">
    <form autocomplete="off" action="/users/login" method="POST">
      <img
        class="avatar"
        src="/img/undraw_male_avatar_323b.svg"
        alt="Login svg"
      />
      <h2 class="mls">
        <span class="letter">W</span><span class="letter">e</span
        ><span class="letter">l</span><span class="letter">c</span
        ><span class="letter">o</span><span class="letter">m</span
        ><span class="letter">e</span>
      </h2>
      <div class="error-text"><%- include('./partials/messages.ejs'); %></div>
      <div class="input-div one">
        <div class="i">
          <i class="fa fa-user"></i>
        </div>
        <div>
          <h5 onclick="focusMethodEmail()">Username</h5>
          <input
            readonly
            onfocus="this.removeAttribute('readonly');"
            class="input"
            type="email"
            id="email"
            name="email"
            required
          />
        </div>
      </div>
      <div class="input-div two login">
        <div class="i">
          <i class="fa fa-user"></i>
        </div>
        <div>
          <h5 onclick="focusMethodPassword()">Password</h5>
          <input
            readonly
            onfocus="this.removeAttribute('readonly');"
            class="input"
            type="password"
            id="password"
            name="password"
            required
          />
        </div>
      </div>
      <a href="#">Forgot Password?</a>
      <button type="submit">Login</button>
      <button onclick="location.href='/users/register'" type="button">
        Register
      </button>
    </form>
  </div>
</div>
