<div class="wrapper">
  <div class="form-box">
    <h1 class="lunary-logo">Login</h1>
    <form
      autocomplete="off"
      class="sign-up-log-in-form"
      action="/users/login"
      method="POST"
    >
      <%- include('./partials/messages.ejs'); %>
      <input
        placeholder="E-mail"
        type="email"
        id="email"
        name="email"
        required
      />
      <input
        placeholder="Password"
        type="password"
        id="password"
        name="password"
        required
      />
      <button type="submit">Login</button>
    </form>
    <div class="login-page-btn-wrapper">
      <a class="log-button font-size-delete btn-margin" href="/users/register"
        >Register</a
      >
      <a class="log-button font-size-delete btn-margin" href="/"
        >Back to main page</a
      >
    </div>
  </div>
</div>
