<form class="sign-up-log-in-form" action="/users/register" method="POST">
  <%- include('./partials/messages.ejs'); %>
  <input
    placeholder="Enter your name"
    type="text"
    id="name"
    name="name"
    required
  />
  <input
    placeholder="Enter your E-mail"
    type="email"
    id="email"
    name="email"
    required
  />
  <input
    placeholder="Create a password"
    type="password"
    id="password"
    name="password"
    required
  />
  <input
    placeholder="Confirm password"
    type="password"
    id="password2"
    name="password2"
    required
  />
  <button tpe="submit">Register</button>
</form>
