<img src="/img/wave.png" alt="Wave wallpaper" class="wave" />
<div class="container">
  <div class="img">
    <img src="/img/undraw_annotation_7das.svg" alt="Svg over wallpaper" />
  </div>
  <div class="login-container">
    <form
      class="form-log"
      autocomplete="off"
      action="/users/register"
      method="POST"
    >
      <img
        class="avatar"
        src="/img/undraw_male_avatar_323b.svg"
        alt="Login svg"
      />
      <h2 class="mls">
        <span class="letter">R</span><span class="letter">e</span
        ><span class="letter">g</span><span class="letter">i</span
        ><span class="letter">s</span><span class="letter">t</span
        ><span class="letter">e</span><span class="letter">r</span>
      </h2>
      <div class="error-text"><%- include('./partials/messages.ejs'); %></div>
      <div class="input-div one">
        <div class="i">
          <i class="fa fa-user"></i>
        </div>
        <div>
          <h5 onclick="focusMethodName()">Name</h5>
          <input
            readonly
            onfocus="this.removeAttribute('readonly');"
            class="input"
            type="text"
            id="name"
            name="name"
            required
          />
        </div>
      </div>
      <div class="input-div two">
        <div class="i">
          <i class="fa fa-user"></i>
        </div>
        <div>
          <h5 onclick="focusMethodEmail()">Username</h5>
          <input
            readonly
            onfocus="this.removeAttribute('readonly');"
            class="input"
            type="email"
            id="email"
            name="email"
            required
          />
        </div>
      </div>
      <div class="input-div three">
        <div class="i">
          <i class="fa fa-user"></i>
        </div>
        <div>
          <h5 onclick="focusMethodPassword()">Password</h5>
          <input
            readonly
            onfocus="this.removeAttribute('readonly');"
            class="input"
            type="password"
            id="password"
            name="password"
            required
          />
        </div>
      </div>
      <div class="input-div four">
        <div class="i">
          <i class="fa fa-user"></i>
        </div>
        <div>
          <h5 onclick="focusMethodPassword2()">Confirm password</h5>
          <input
            readonly
            onfocus="this.removeAttribute('readonly');"
            class="input"
            type="password"
            id="password2"
            name="password2"
            required
          />
        </div>
      </div>
      <button class="form-button" type="submit">Register</button>
      <button
        button
        class="form-button"
        onclick="location.href='/users/login'"
        type="button"
      >
        Back to login page
      </button>
    </form>
  </div>
</div>
