<div class="wrapper">
  <h1 class="lunary-logo">You made it!</h1>
  <p class="welcome-text">Welcome <%= name %>!</p>
  <div class="log-buttons-wrapper">
    <a class="log-button" href="/users/logout">Logout</a>
    <a class="log-button" href="/">Back to main page</a>
  </div>
</div>
